.copyright {
  padding: 0 0;
  color: $white;
  background-color: #5362d8;
  .copyright-text {
    color: #b6befc; /* text color */
    //font-family: "OpenSans", sans-serif;
    font-size: $fs-copyright;
    text-align: center;
    height: 100px;
    line-height: 100px;
    //color:  $white;
    //padding-top: 20px;
    //padding-bottom: 20px;

    color: #b6befc; /* text color */



  }

}

