nav {
  //background-color: #1d1e1f;

  height: 100px;
  -moz-box-shadow: 2px 2px 7px rgba(0,0,0,.15);
  -webkit-box-shadow: 2px 2px 7px rgba(0,0,0,.15);
  box-shadow: 2px 2px 7px rgba(0,0,0,.15);
  img {
    margin:  15px auto 0 auto;
    display: block;
  }
  ul {
    //font-size: 0px;
    margin-top: 35px;

    li {
      display: inline-block;
      //display: block;
      //border-bottom: 1px solid black;
      //width: 40px;
      //height: 50px;

      a{
        cursor: default;
        //font-size: 20px;
        //width: 30px;
        text-transform: capitalize;
        //border-bottom: 1px solid black;
        text-align: center;
        font-weight: bold;
        color: #555;
      }
      :hover {
        color: #5363db;
        //border-bottom: 1px solid #5363db;
      }

      .defis {
        color: white;
        height: 5px;
        width: 30px;
        border-bottom: 1px solid white;
        text-align: center;
        margin: 0 auto;
        //:hover {
        //  border-bottom: 1px solid #5363db;
        //}
      }
      :hover   {
        color: #5363db;
      }


    }
    .nav_left {
      float: right;
      margin-left: 30px;
    }
    .nav_right {
      float: left;
      margin-right: 30px;
    }

  }
}
//li:hover p.defis {
//  border-bottom: 1px solid #5363db;
//  color: #5363db;
//}
//p.defis:hover  ul li {
//  //border-bottom: 1px solid #5363db;
//  color: #5363db;
//}
li:hover h2 {
  border-bottom: 1px solid #5363db;
  color: #5363db;
  font-size: 100px;
}