.price {
    background-image: url("/images/bg3.png");
    background-position: -158% 385%;
    //background-position: center right;
    background-repeat: no-repeat ;
    padding-bottom: 100px;
  .row:nth-child(2){
    margin-top: 100px;
  }


  .price-blick {
      height: 493px;
    -moz-border-radius:  10px;
    -webkit-border-radius: 10px;
    border-radius:  10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    -webkit-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    .price-block_price {
      height: 150px;
      padding: 30px 70px;
      -moz-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
      border-radius: 10px 10px 0 0; /* border radius */
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; /* prevents bg color from leaking outside the border */
      background-color: #5b6beb; /* layer fill content */
      color: $white;
      h2 {
        //position: absolute;
        display: block;
        color: $white;
        float: left;
        font-size: 75px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
      }
      :first-child {
        font-size: 30px;
        margin: 30px 20px 0 30px;



      }
      :last-child{
        font-size: 18px;
        margin-top: 53px;
        float: right;

      }
    }
    .price-content {
      padding: 50px 70px;
      color: #555; /* text color */
      //font-family: "OpenSans", sans-serif;


      h4 {
        font-size: 18px;
        font-weight: normal;
        color: #555; /* text color */
        margin-bottom: 50px;

      }
      button {
        display: block;
        width: 170px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border: none;
        border-radius: 20px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #5b6beb; /* layer fill content */
        color: $white;
        font-size: 18px;
        font-weight: bold;
        //text-transform: capitalize;
      }
    }
  }
  .block-text {
    height: 250px;
    width: 1170px;
    background-color: $white;
    //margin: 100px 0 100px 0;
    //background-color: #2c3e50;
    //display: inline-block;
    //float: left;
    padding: 25px 60px;
    moz-border-radius:  10px;
    -webkit-border-radius: 10px;
    border-radius:  10px; /* border radius */
    -moz-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    -webkit-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    img {
      width: 125px;
      height: 125px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #c5c8c8;
      padding: 10px;
      float: left;
    }
    blockquote {
      width: 900px;
      margin: 12px  0 0 0;
      .span{

      }
      .trainer {
        color: #c5c8c8;
        margin: 15px 0 0 0;
      }
      .trainer-name {
        color: #7a43b6;
        font-size: 18px;
        font-weight: bold;
      }

    }
    blockquote:before{
      content: "\201C";
      //font-family: Arial;
      color:#7a43b6;
      font-size: 70px;
      position: absolute;
      left: 164px;
      top: -9px;
    }
    blockquote:after{
      content: "\201C";
      //font-family: Arial;
      color: #7a43b6;
      font-size: 70px;
      position: absolute;
      right: 15px;
      top: 33px;
    }
    .block-text_content {
      height: 125px;

    }


  }
  .block-media {
    height: 70px;
    margin-top: -35px;
    //width: 180px;
    img {
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #c5c8c8;
      margin-left: 40px;
      margin-right: 12px;
      //padding: 10px;
      float: left;
    }
    .trainer-name_next {
      color: #656565;
      font-size: 14px;
      font-weight: bold;
      margin: 15px 0 0 0;
    }
    .trainer2 {
      color: #c5c8c8;
    }
    .carousel-images {
      & > .slick-list {
        padding: 0 !important;
        & > .slick-slide {
          //width: 350px !important;
        }
      }
      & > .slick-prev {
        left: -25px;
        color: #7a43b6;
      }
      & > .slick-next {
        right: -15px;
      }
      & > .slick-dots {
        bottom: -10px;
        & > li button:before {
          font-size: 12px;
        }

      }
    }
    .carousel-text {
      //-moz-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
      //-webkit-box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
      //box-shadow: 6px 6px 50px rgba(0,0,0,.1); /* drop shadow */
    }
    & > .slick-list {
      padding: 0 !important;
      & > .slick-slide {
        //width: 570px !important;
      }
    }
    .slick-prev {

      z-index: 9990;
      left: 5px;
      background-image: url("/images/prev_sm.png");
    }
    .slick-next {
      z-index: 9990;
      //right: -25px;
      background-image: url("/images/next_sm.png");

    }
    .slick-prev, .slick-next {
      z-index: 9990;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);
      box-shadow: 4px 4px 20px rgba(0, 0, 0, .1);

    }
    .slick-prev:before, .slick-next:before {
      color: black;
      opacity: 0;
    }
    .slick-dots {
      float: left;
      left: 330%;
      top: -150px;
      width: auto;
    }
    .slick-dots li {
      margin: 10px 5px;
    }
    .slick-dots li button:before {
      content: " ";
      line-height: 19px;
      border: 2px solid;
      border-radius: 50%;
      color: #5b6ceb;

    }
    .slick-dots li.slick-active button:before {
      content: '•';
      color: #5b6ceb;
    }


  }
}
.block-text_line {
  height: 75px;
  width: 30px;
  margin: 50px 0 0 50px;
  border-left: 2px solid #c5c8c8;
  float: left;
}