// Font-family
//$source-sans-pro: "Source Sans Pro", sans-serif;
//$verdana: "Verdana", sans-serif;
//$font-family-base: $source-sans-pro;// for mixin _reset-text
// Set variables for font faces here

// Letter spacing

// Line height


// Font size

// 11px

// 12px

// 13px

// 14px
$fs-base: 14px;
// 16px
$fs-copyright: 16px;
// 18px
$fs-h4 : 18px;
// 20px
$fs-h3 : 20px;
// 22px

// 24px

// 26px

// 30px
$fs-h2: 30px;

// 33px
$fs-logo: 33px;
// 40px

 //48
$fs-h1: 48px;
