body {
  font-family: 'Open Sans', sans-serif;
  //background-color: $color-body;
  //overflow-x: hidden;
  font-size:  $fs-base;
}
section {
  padding: 100px 0;
}

h1 {

}
h2 {
  font-size: $fs-h2;
  text-transform: uppercase;
}
h3 {
  font-size: $fs-h3;
  text-transform: uppercase;
}

h4 {
  font-size: $fs-h4;
  text-transform: uppercase;
  font-weight:bold ;

}